// app global css in SCSS form
@font-face {
    font-family: delta-font;
    src: url(./fonts/DeltaSans-Regular.woff);
}
  
// declare a class which applies it
.delta-font {
    font-family: 'delta-font' !important;
}

.delta-gradient-bg {
    background-image: url('../assets/gradient.svg');
    background-size: cover;
}

.delta-gradient-bg-2 {
    background-image: url('../assets/gradient_2.svg');
    background-size: cover;
}